<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.patronusstudio.cargotracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Fragment.CargoDetailLoad"
            android:theme="@style/TransparentCompat" ></activity>
        <activity
            android:name=".Fragment.CargoDetail"
            android:theme="@style/TransparentCompat" />
        <activity
            android:name=".Fragment.ProfileLoad"
            android:theme="@style/TransparentCompat" />
        <activity android:name=".Activity.UserHome" />
        <activity
            android:name=".Activity.UserLoginActivity"
            android:theme="@style/TransparentCompat" />
        <activity android:name=".Activity.LoadUserActivity" />
        <activity
            android:name=".Activity.CargoReceiver"
            android:theme="@style/TransparentCompat" />
        <activity
            android:name=".Activity.CargoSender"
            android:theme="@style/TransparentCompat" />
        <activity
            android:name=".Activity.CargoInfo"
            android:theme="@style/TransparentCompat" />
        <activity android:name=".Activity.CargoMain" />
        <activity
            android:name=".Activity.CargoTimeline"
            android:theme="@style/TransparentCompat" />
        <activity
            android:name=".Activity.LoadCargoActivity"
            android:theme="@style/TransparentCompat" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>